@charset "utf-8";

/* Paleta de Cores
.color1 { #429398 };
.color2 { #6b5d4d };
.color3 { #b0a18f };
.color4 { #dfcdb4 };
.color5 { }; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-image: linear-gradient(to top, #fbeed3, #6b5d4d);
}

body,
html {
  background-color: #fbeed3;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  position: absolute;
  background-color: #fdfdfd;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
  transition: width 0.7s, height 0.7s;
}

section#login > div#imagem {
  display: block;
  background: #6b5d4d url(../imagens/pattern-bulding.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}

section#login > div#formulario {
  padding: 10px;
  display: block;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}

form > input[type="submit"] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #429398;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
}

form > input[type="submit"]:hover {
  background-color: #6b5d4d;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40%;
  background-color: #429398;
  border-radius: 5px;
  border: 1px solid #000000;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  margin-top: 5px;
}

form > a.botao:hover {
  background-color: #6b5d4d;
}
